# Postgres port
POSTGRES_PORT=5432
# Postgres environment variables
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Adminer port
ADMINER_PORT=8080
# Adminer environment variables
ADMINER_DEFAULT_SERVER=postgres

# Network name for external use
NETWORK_NAME=custom_network
